<style>
  input[type="text"][data-type="CLO"] {
            width: 70%; /* equivalent to w-2/3 in Tailwind */
            border: 2px solid #D1D5DB; /* equivalent to border border-gray-300 in Tailwind */
            height: 2rem; /* equivalent to h-8 in Tailwind */
            margin-top: 0.5rem; /* equivalent to mt-2 in Tailwind */
            padding-left: 0.5rem; /* equivalent to pl-2 in Tailwind */
            background-color: #F9FAFB; /* Light background color for read-only */
            color: #6B7280; /* Gray color for text */
            border-radius: 0.25rem;
        }

        input[type="text"][data-type="CLO"]:hover {
            border-color: #A0AEC0; /* Change border color on hover */
        }

        input[type="text"][data-type="CLO"]:focus {
            border-color: black; /* Change border color on focus */
            outline: none; /* Remove default outline */
        }

  

</style>

{% extends "addon/nav.html" %}
{% block title %}แก้ไข หัวข้อแบบประเมิน (O/PLO){% endblock %}
<style>
  /* .container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */

    .button{

      background-color: #4CAF50; /* สีพื้นฐานของปุ่ม */
    border: none; /* ลบเส้นขอบ */
    color: white; /* สีของข้อความ */
    padding: 10px 20px; /* ช่องว่างภายในปุ่ม */
    text-align: center; /* จัดข้อความกลางปุ่ม */
    text-decoration: none; /* ลบการขีดเส้นใต้ */
    display: inline-block; /* แสดงเป็นบล็อกในแถว */
    font-size: 16px; /* ขนาดของฟอนต์ */
    margin: 4px 2px; /* ช่องว่างรอบปุ่ม */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือ */
    border-radius: 4px; /* มุมโค้งของปุ่ม */
    transition: background-color 0.3s, box-shadow 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังและเงาเมื่อ hover */
}
    

    .button_edit_child {
    background-color: #4CAF50; /* สีพื้นฐานของปุ่ม */
    border: none; /* ลบเส้นขอบ */
    color: white; /* สีของข้อความ */
    padding: 10px 20px; /* ช่องว่างภายในปุ่ม */
    text-align: center; /* จัดข้อความกลางปุ่ม */
    text-decoration: none; /* ลบการขีดเส้นใต้ */
    display: inline-block; /* แสดงเป็นบล็อกในแถว */
    font-size: 16px; /* ขนาดของฟอนต์ */
    margin: 4px 2px; /* ช่องว่างรอบปุ่ม */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือ */
    border-radius: 4px; /* มุมโค้งของปุ่ม */
    transition: background-color 0.3s, box-shadow 0.3s; /* เพิ่มการเปลี่ยนสีพื้นหลังและเงาเมื่อ hover */
}
  

</style>


  {% block content %}

  
  {%block script %}
<script>
  function deleteField(fieldId, buttonclass) {
  var input = document.getElementById(fieldId);
  var dataType = input.getAttribute('data-type');
  var buttons = document.querySelectorAll('.' + buttonclass);
  console.log(fieldId)

  var xhr = new XMLHttpRequest();
  xhr.open('DELETE', '/delete_update_template_data/?data_id=' + encodeURIComponent(fieldId.split('_')[1]) + '&type=' + encodeURIComponent(dataType), true);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

  xhr.onload = function () {
    if (xhr.status === 200) {
        console.log('Response:', xhr.responseText);
        location.reload;
    } else {
        console.error('Error:', xhr.statusText);
    }
  };
  xhr.send();

  var parts = fieldId.split('_');
  input.remove();
  console.log(parts[0])
  if (parts[0] == "parent") {
    reloadPageAfterDelay(200) //ถ้าลบฟิลด์แม่ให้โหลดหน้าจอใหม่
  }
  buttons.forEach(function(button) {
    button.remove();
  });

}

//แก้ไขฟิลด์ทั้งหมด
function editField(fieldId) {
  var input = document.getElementById(fieldId);
  console.log(input)
  input.removeAttribute('readonly');
  input.focus();

  input.onblur = function() {
      var value = input.value;  
      var dataType = input.getAttribute('data-type');
      input.setAttribute('readonly', true);

      // สร้าง XMLHttpRequest
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/delete_update_template_data/', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken')); // รับ CSRF token

      xhr.onload = function () {
          if (xhr.status === 200) {
              console.log('Response:', xhr.responseText);
          } else {
              console.error('Error:', xhr.statusText);
          }
      };

      xhr.send('data_id=' + encodeURIComponent(fieldId.split('_')[1]) + '&text=' + encodeURIComponent(value) + '&type=' + encodeURIComponent(dataType));
  };
}//ลองแบบ XML

//  cookie
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}

//สร้าง ฟิลด์แม่ใหม่
function saveNewParent(type, formID) {

var xhr = new XMLHttpRequest();
xhr.open('POST', '/addnew_template_data/', true);
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

xhr.onload = function () {
  if (xhr.status === 200) {
      console.log('Response:', xhr.responseText);
  } else {
      console.error('Error:', xhr.statusText);
  }
};
xhr.send('&form_id=' + encodeURIComponent(formID) + '&type=' + encodeURIComponent(type));
location.reload();
}

//เพิ่มฟิลด์ลูก
function addField(parentId, dataType, tem_id) {
// Check if parentId is provided, adjust the container accordingly
const containerId = parentId ? `child-container_${parentId}` : 'PLO';
const container = document.querySelector(`[id="${containerId}"][data-type="${dataType}"]`);
const newFieldId = new Date().getTime(); // Unique ID for new field

const div = document.createElement('div');
//div.style.marginLeft = parentId ? '20px' : '';
div.innerHTML = `
    <input type="text" id="child_parentID_${parentId}" name="child_parentID_${parentId}" value=""  data-type="${dataType}" class="text_Box" required > 
    <button type="button" id="button_child_edit" onclick="editField('new_${parentId}')" class="button_child_edit"  >Edit</button>
`;

container.appendChild(div);
const input = div.querySelector('input');
input.setAttribute('placeholder',"กรุณาใส่หัวข้อประเด็นรอง")
input.onblur = function() {
  input.setAttribute('readonly', true);
  console.log(input.id.split('_')[2])
  saveFieldData(input.id, input.value, dataType, tem_id);
};
}

//แบบ fetch ธรรมดา
function saveFieldData(fieldId, value, dataType, tem_id) {
fetch('/addnew_template_data/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded',
    'X-CSRFToken': getCookie('csrftoken') 
  },
  body: `data_id=${encodeURIComponent(fieldId)}&text=${encodeURIComponent(value)}&type=${encodeURIComponent(dataType)}&form_id=${encodeURIComponent(tem_id)}`
})
.then(response => response.json())
.then(data => console.log('Success:', data))
.catch(error => console.error('Error:', error));

location.reload();


}

function reloadPageAfterDelay(delayInMilliseconds) {
setTimeout(function() {
    location.reload();
}, delayInMilliseconds);
}
</script>

  {% endblock %}
  
      <p class="flex items-center text-white text-2xl ml-5 px-4 py-4 ">สร้างแบบประเมินการทวนสอบผลสัมฤทธิ์ </p>
      <div class="relative rounded-lg bg-gray-300 p-8 shadow-xl px-16 ">
        <div class="rounded-md pb-5 bg-white ">
          <div class=" bg-white my-0 text-black bottom-5 p-5 shadow-inner text-2xl border-2 ">
            <h1>วัตถุประสงค์ของรายวิชา (O,PLO)</h1></div>

    <form method="post">
      {% comment %} head {% endcomment %}
        {% csrf_token %}
        <div class="border w-52 bg-purple-400 text-center text-xl text-white mb-4">
        <div class="head"> 
          <div class="form_name" name="form_name"> 
            {% for data in template%}
              {{data.semester}}/{{data.year_number}} 
            {% endfor %}
           </div>
        </div>
      </div>
{% comment %} end head {% endcomment %}

  {% comment %} o {% endcomment %}

  <div class="border rounded shadow-lg bg-gray-100 m-5 p-4">หัวข้อแบบประเมิน (O)
        <div class="container" id="PLO">
             
            {% for item in template %}
                {% for clo_data in item.CLO.all %}
                {% if not clo_data.parent %}
                    <div class ='container' id="parent-container_{{ clo_data.id }}"data-type="CLO">
                      <div class="border rounded shadow-lg bg-white m-2 p-4"data-type="CLO">
                        <!-- แม่ วัตถุประสงค์ของรายวิชา (0)-->
                        <input type="text" id="parent_{{ clo_data.id }}" name="parent_{{ clo_data.id }}" value="{{ clo_data.text }}" readonly  data-type="CLO" classs="w-2/3 border border-gray-300 h-8 pl-2"/>
                        {% comment %} <button type="button" onclick="editField('parent_{{ clo_data.id }}')">Edit</button> {% endcomment %}
          
                            
                            <div id="child-container_{{ clo_data.id }}" style="margin-left: 20px;"data-type="CLO">
                              
                              {% for child in clo_data.sub_items.all %}
                                <!-- ลูกวัตถุประสงค์ของรายวิชา (0) -->
                                <div>
                                <input type="text" id="child_{{ child.id }}" name="child_{{ child.id }}" value="{{ child.text }}" readonly  data-type="CLO" classs="w-2/3 border border-gray-300 h-8 mt-2 pl-2"/>
                                <button type = "button"  class="button_child_edit" onclick="editField('child_{{ child.id }}')" >Edit</button>
                                <button type="button"  class="button_child_delete" onclick="deleteField('child_{{ child.id }}', 'button_child_{{ child.id }}')">Delete</button>
                              </div>
                                {% endfor %}
                              
                            </div>
                            
                        <button type="button" id="button_add_sub" onclick="addField('{{ clo_data.id }}', 'CLO', {{item.id}})" class="add_main_botton">เพิ่มหัวข้อย่อย</button>
                      </div>
                    </div>
                  
                {% endif %}
            {% endfor %}

          </div>
        </div>
{% comment %} end o {% endcomment %}

{% comment %} plos {% endcomment %}
            
            <div class="border rounded shadow-lg bg-gray-100 m-5 p-4"data-type="TemplateData">
              หัวข้อแบบประเมิน (PLOs)
            {% for template_data in item.TemplateData.all %}
            {% comment %} <div class="border rounded bg-white m-3 p-2"> {% endcomment %}
            {% if not template_data.parent %}
                <div class="container" id="parent-container_{{ template_data.id }}"data-type="TemplateData">
                  <div class="border rounded shadow-lg bg-white m-2 p-4"data-type="TemplateData">
                  {% comment %} <label>{{ forloop.counter }}</label> {% endcomment %}
                    <!-- แม่ -->
                    {% comment %} <label>{{ forloop.counter }}</label> {% endcomment %}
                      <input type="text" id="parent_{{ template_data.id }}" name="parent_{{ template_data.id }}" value="{{ template_data.text }}" readonly data-type="TemplateData" placeholder="กรุณาใส่หัวข้อประเด็นหลัก" class="w-2/3 border border-gray-300 border-2 rounded h-8 pl-2"/>
                      <button type="button" id="button_child_edit" class="button_child_edit" onclick="editField('parent_{{ template_data.id }}')">Edit</button>
                      <button type="button" id="button_child_delete" class="button_child_delete" onclick="deleteField('parent_{{ template_data.id }}', 'button_parent_{{ template_data.id }}')">Delete</button>
               

                    <!-- ลูก -->
                    <div id="child-container_{{ template_data.id }}" style="margin-left: 20px;"data-type="TemplateData">
                      
                        {% for child in template_data.sub_items.all %}
                        
                            <div>
                              
                              {% comment %} <label>{{ forloop.parentloop.counter }}.{{ forloop.counter }}</label> {% endcomment %}
                              
                                <input type="text" id="clochild_{{ child.id }}" name="child_{{ child.id }}" value="{{ child.text }}" readonly  data-type="TemplateData" placeholder="กรุณาใส่หัวข้อประเด็นรอง" class="w-2/3 border border-gray-300 border-2 rounded h-8 pl-2"/>
                                <button type="button" class="button_child_edit" onclick="editField('clochild_{{ child.id }}')">Edit</button>
                                <button type="button" class="button_child_delete" onclick="deleteField('clochild_{{ child.id }}', 'button_clochild_{{ child.id }}')">Delete</button>
                              </div>
                            
                        {% endfor %}
                      
                    </div>
                    <button type="button" id="button_add_sub" class="add_main_botton" onclick="addField('{{ template_data.id }}', 'TemplateData', {{item.id}})">เพิ่มหัวข้อย่อย</button>
                  </div>
                  </div>
              
            {% endif %}
          
          {% comment %} </div> {% endcomment %}
        {% endfor %}
        
        <button type="button" id="button_add" class="add_main_botton" onclick="saveNewParent('Newparent', {{item.id}})">เพิ่มหัวข้อหลัก</button>
        {% endfor %}
        {% comment %}  end plos {% endcomment %}

        </div>
        
        <div class="newParent" id="newParent"> </div>
    </form>

  </div>
</div>

{% endblock %}