<style>
    /* body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        margin: 0;
        padding: 0;
    } */

    /* .main-container {
        background: white;
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .form-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 95%;
        background: #e9e9e9;
    }

    .form-card label {
        display: block;
    }

    .form-card input[type="checkbox"] {
        margin-right: 10px;
    }
    button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.8;
    }

    .relative {
        position: relative;
    }

    .inline-block {
        display: inline-block;
    }

    .w-14 {
        width: 3.5rem;
    }

    .toggle-checkbox {
        display: none;
    }

    .toggle-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border-radius: 9999px;
        background-color: #d1d5db;
        transition: background-color 0.2s ease-in-out;
        padding: 2px;
        height: 1.75rem; 
    }

    /* .toggle-label:before {
        content: "";
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        background: white;
        border-radius: 9999px;
        transition: transform 0.2s ease-in-out;
    }

    .toggle-checkbox:checked + .toggle-label {
        background-color: #22c55e; 
    }

    .toggle-checkbox:checked + .toggle-label:before {
        transform: translateX(85%);
    }

    .filter-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .filter-form select {
        margin-right: 10px;
        padding: 5px;
    } */
    .download-pdf-btn{
        color: white;
        background-color: #22c55e;
        padding: 0.5rem;
    }
    .download-pdf-btn:hover{
       background-color: #15803d;
    }


</style>
{% extends "addon/nav_report.html" %}
  {% block title %}สร้างหัวข้อแบบประเมิน (O/PLO){% endblock %}
  
    
  {% block content %}
  
    <p class="flex items-center text-white text-2xl ml-5 px-4 py-4 ">แบบรายงานผลการทวนสอบผลสัมฤทธิ์</p>
    <div class="relative rounded-lg bg-gray-300 p-8 shadow-xl px-16 ">
      <div class="rounded-md pb-5 bg-white ">
        <div class="my-0 text-black bottom-5 p-5 shadow-inner text-xl font-mono ">
   

<div class="main-container">
    

    <div class="flex justify-between px-5 py-1">
        <!-- search bar -->
        <div class="flex">
          <div class="items-center max-w-sm mx-auto">
            <label for="simple-search" class="sr-only">Search</label>
            <div class="flex ">
                <input type="text" id="simple-search" onkeyup="searchTable()" placeholder="ค้นหา"
                            class="bg-gray-100 border border-gray-300 text-black text-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
          </div>
        </div>
    
    <!-- ฟอร์มสำหรับกรองข้อมูล -->
    
    <form method="GET" action="{% url 'report_main' %}" class="filter-form">
        <div class="flex  px-3 py-2 w-auto">
        <select name="department" id="department-select">
            <option value="">เลือกสาขา</option>
            {% for department in departments %}
            <option value="{{ department.id }}" {% if request.GET.department == department.id|stringformat:"s" %}selected{% endif %}>{{ department.name }}</option>
            {% endfor %}
        </select>
        
        <select name="template" id="course-select">
            <option value="">ภาค/ปีการศึกษา</option>
        </select>
        
        <button id="se" type="submit" class="ml-2 flex item-center justify-center border hover:bg-gray-100 w-auto text-black p-2 px-3 rounded"> <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="mt-2 h-4 w-4 mr-1 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
        </svg>กรอง
    </button>
</div>
    </form>

</div>   


    <div class="form-list"> 
        <div class="border rounded shadow-xl p-3 mt-2">
        {% for data in form %}  
        <div class="form-card">
            วิชา : {{ data.course.name }}  {{data.course.class_code}} ตอนเรียนที่ {{data.section}} ปีการศึกษา {{data.template.semester}}/{{data.template.year_number}}
                {% if data.is_teacher_form %}
                รายงานผลการทวนสอบผลสัมฤทธิ์ โดยอาจารย์ (ทส.02)
                {% else %}
                รายงานผลการทวนสอบผลสัมฤทธิ์ โดยนักศึกษา (ทส.01)
                {% endif%}
                <div class="mt-2">
            <a href="{% url 'report' form_id=data.id %}">
                <button onclick="viewForm({{ data.id }})" class="bg-green-500 hover:bg-green-700 text-white p-2 rounded">แสดงรายงาน</button>
            </a>
                {% comment %} <button type="button" class="download-pdf-btn" data-form-id="{{ data.id }}">ดาวน์โหลด PDF</button>  {% endcomment %}
                <button id="download-pdf-{{ data.id }}" data-form-id="{{ data.id }}" class="download-pdf bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
                    <div id='load-btn' style="display:block;">Download as PDF</div>
                    <div id="loading-spinner" style="display:none;">Loading...</div>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>


    </div>

</div>
</div>
</div>
{% endblock %}


{% block scripts %}
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

document.addEventListener("DOMContentLoaded", function() {
    var departmentSelect = document.getElementById("department-select");
    var courseSelect = document.getElementById("course-select");

    if (departmentSelect && courseSelect) {
        departmentSelect.addEventListener("change", function() {
            var departmentId = this.value;
            console.log(courseSelect);
            // Clear current options
            courseSelect.innerHTML = '<option value="">ภาค/ปีการศึกษา</option>';

            if (departmentId) {
                fetch(`/get_Templates_by_departmen/?department_id=${departmentId}`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(template => {
                        var option = document.createElement("option");
                        option.value = template.id;
                        option.textContent = `${template.semester}/${template.year_number}`;
                        courseSelect.appendChild(option);
                    });
                })
                .catch(error => console.error("Error fetching templates:", error));
            }
        });
    } else {
        console.error("department-select or course-select element not found in DOM");
    }
});


document.addEventListener('click', function(event) {
    if (event.target.classList.contains('download-pdf') || event.target.closest('.download-pdf')) {
        const button = event.target.closest('.download-pdf');
        const formId = button.getAttribute('data-form-id');
        document.getElementById('loading-spinner').style.display = 'block'; // แสดงสถานะการโหลด
        document.getElementById('load-btn').style.display = 'none';
        fetch(`/report/${formId}/pdf/`, {
            method: 'GET',
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.blob();
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = `report_${formId}.pdf`;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.getElementById('loading-spinner').style.display = 'none';
            document.getElementById('load-btn').style.display = 'block'; 
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            document.getElementById('loading-spinner').style.display = 'none'; // ซ่อนสถานะการโหลดเมื่อเกิดข้อผิดพลาด
            document.getElementById('load-btn').style.display = 'block'; 
        });
    }
});



function searchTable() {
    const input = document.getElementById('simple-search');
    const filter = input.value.toLowerCase();
    const cards = document.querySelectorAll('.form-card');
    
    console.log(input)
    cards.forEach(card => {
        const textContent = card.textContent.toLowerCase();
        if (textContent.includes(filter)) {
            card.style.display = '';
        } else {
            card.style.display = 'none';
        }
    });
}
</script>
{% endblock %}