{% extends "addon\nav_report.html" %}
  {% block title %}สร้างหัวข้อแบบประเมิน (O/PLO){% endblock %}


  
{% block content %}
<!-- start from -->
<p class="flex items-center text-white text-2xl ml-5 px-4 py-4 ">รายงานผลการทวนสอบผลสัมฤทธิ์</p>
          <div class="rounded-lg bg-gray-300 p-8 shadow-xl px-16 sm:px-5 md:max-w-full w-full">
            <div class="rounded-md pb-5 bg-white sm:max-w-full w-full">
              <div class=" bg-white my-0 text-black bottom-5 p-5 shadow-inner text-2xl border-2 ">
                <h1>แบบรายงานผลการทวนสอบผลสัมฤทธิ์ โดย{% if form.is_teacher_form%}อาจารย์ {%else%}นักศึกษา {%endif%}</h1></div>
        <!-- <div class="my-0 text-black mb-8 p-5 shadow-inner text-xl font-mono "> -->
      
      <div class="mx-20 w-auto  border rounded py-3 shadow-2xl mt-3 ">
        
        <div class="border mx-2">
        <div class=" w-auto mx-10 " >
            
            <div class="flex justify-between item-center grid grid-cols-2 gap-3 mx-24 text-2xl bg-white">
                
                <!-- ใส่ ชื่อวิชา รหัสวิชา ภาค ปี ชื่ออาจารย์ วันที่ประเมิน -->
                <p>วิชา: {{ form.course.name }}</p>
                <p class="text-right">รหัสวิชา: {{ form.course.class_code }}</p>
                <p>ภาคการศึกษาที่: {{ form.template.semester }}</p>
                <p class="text-right">ปีการศึกษา: {{ form.template.year_number }}</p>
                <p> มีผู้เข้าประเมิน {{ context_user.user_eva|length }} คนจากทั้งหมด {{ context_user.user_all|length }} คน</p>
                {% comment %} <p>วันที่เริ่ม: {{ form.start_date }}</p>
                <p>วันที่สิ้นสุด: {{ form.end_date }}</p>
                <p>สถานะ: {% if form.expired %} หมดอายุ {% else %} ใช้งานอยู่ {% endif %}</p> {% endcomment %}
            
            </div>
        </div>
    
        <h1 class="px-10 pt-3  text-xl">ผลการประเมิน </h1>
    </div>
                <!-- start table ตารางแสดงรายงานประเมิน -->
                <div class="overflow-x-auto">
                <table class="min-w-full  sm:-w-auto bg-white border border-gray-300">
                    <thead>
                      <tr>
                        <th class="px-4 py-2 border-b">ประเด็นการประเมิน</th>
                        <th class="px-4 py-2 border-b"><h1 class="border-b ">บรรลุผลการเรียนรู้ ภายหลังเรียนรายวิชา</h1>
                            {% comment %} <h1>ค่าเฉลี่ยที่ได้</h1> {% endcomment %}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- ใส่ลูปแสดงข้อมูล หัวข้อใหญ่ -->
                        {% for main in assessment_items %}
                        {% if not main.template_select %}
                            <tr>
                                <td class="border px-4 py-2 bg-gray-100" colspan="1">
                                    <b>{{ forloop.counter }} {{ main.text }}</b>
                                    <th class="px-4 py-2 border-b"><h1 class="border-b ">{% if forloop.first %}{%else%}บรรลุผลการเรียนรู้ {{main.text}} {% endif %}</h1>
                                      {%if forloop.first %}ค่าเฉลี่ยที่ได้{%else%}<h1>ค่าเฉลี่ยที่ได้</h1>{%endif %}
                                </td>
                            </tr>
                            <!-- ใส่ลูปแสดงข้อมูล หัวข้อย่อย และคะแนน -->
                            {% if main.sub_items_with_avg %}
                                {% for sub in main.sub_items_with_avg %}
                                    <tr>
                                        <td class="border px-4 py-2 pl-8">
                                            {{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ sub.text }}
                                        </td>
                                        <td class="border px-4 py-2 text-center">{{ sub.average_response|default:"N/A" }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <!-- ค่าเฉลี่ยรวมของหัวข้อใหญ่ -->
                            <tr>
                                <td class="border px-4 py-2"><b>ค่าเฉลี่ยรวม</b></td>
                                <td class="border px-4 py-2 text-center">{{ main.overall_average|floatformat:2|default:"N/A" }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                        <tr><!-- หัวข้อ PLO เป็น static -->
                            <td class="border px-4 py-2  bg-gray-100" colspan="1"><b>ผลการเรียนรู้ของหลักสูตร (PLOs)</b></td>
                            <th class="px-4 py-2 border-b"><h1 class="border-b ">บรรลุผลการเรียนรู้ ภายหลังเรียนรายวิชา</h1>
                              <h1>ค่าเฉลี่ยที่ได้</h1>

                            {%for main in plo%}
                            {% if  main.template_select %}
                            <tr><!-- หัวข้อ PLO ใหญ่ -->
                                <td class="border px-4 py-2  bg-white" colspan="2"><b>PLO{{ forloop.counter }}: {{ main.template_select.text }}</b></td>
                          <tr><!-- ลูป plo หัวข้อย่อย -->
                            {% if main.sub_items_with_avg %}
                                {% for sub in main.sub_items_with_avg %}
                            <td class="border px-4 py-2 pl-8 "> {{ forloop.parentloop.counter }}.{{ forloop.counter }} {{ sub.template_select.text }}</td>
                            <td class="border px-4 py-2 text-center">{{ sub.average_response|floatformat:2|default:"N/A" }}</td>
                          </tr>
                                {% endfor %}
                            {% endif %}
                          {% comment %} <tr>
                            <td class="border px-4 py-2"><b>ค่าเฉลี่ยรวม</b></td>
                            <td class="border px-4 py-2 text-center">{{ overall_plo_average|floatformat:2|default:"N/A" }}</td>
                        </tr> {% endcomment %}
                        {% endif %}
                    {% endfor %}
                    </tr>

                    <!-- แสดงค่าเฉลี่ยรวมของทุกหัวข้อใหญ่ -->
                    <tr>
                        <td class="border px-4 py-2 bg-gray-100 ">ค่าเฉลี่ยรวมทุกรายการ (1-5)</td>
                        <td class="border px-4 py-2 text-center  bg-gray-100">{{ overall_plo_average|floatformat:2|default:"N/A" }}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                
                <!-- end table -->

                  <div class="mt-5 pl-3 text-l mb-8"><b>6.ข้อเสนอแนะ/ความคิดเห็น</b></div>
                  <!-- ลูปแสดง text  -->
                  {% for c in comment  %}
                  <div class="border rounded  ">
                    <div class="p-5"> {{c.comment}} </div>
                  </div>
                  {% endfor  %}
                </div>
          </div>
        

</div>
</div>
</div>
{% endblock %}