{% load i18n %}
{% autoescape off %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <meta name="x-apple-disable-message-reformatting" />
</head>
<body style="background-color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif">
  <div style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">CAS.Payap password reset</div>
  <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:37.5em;margin:0 auto;padding:20px 25px 48px;background-image:url('/assets/raycast-bg.png');background-position:bottom;background-repeat:no-repeat">
    <tbody>
      <tr style="width:100%">
        <td>
          <img alt="Raycast" height="48" src="https://upload.wikimedia.org/wikipedia/th/4/41/Logo_PYU.png" style="display:block;outline:none;border:none;text-decoration:none" width="48" />
          <h1 style="font-size:28px;font-weight:bold;margin-top:48px">🪄 เปลี่ยนรหัสผ่านระบบประเมินทวนสอบผลสัมฤทธิ์คณะบริหารธุรกิจมหาวิทยาลัยพายัพ </h1>
          <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin:24px 0">
            <tbody>
              <tr>
                <td>
                  {% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}
                  <p style="font-size:16px;line-height:26px;margin:16px 0">
                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color:#FF6363;text-decoration:none" target="_blank">👉 กดที่นี้เพื่อทำการเปลี่ยนรหัสผ่าน 👈</a>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="font-size:16px;line-height:26px;margin:16px 0">Best,<br />- CAS.Payap</p>
          <hr style="width:100%;border:none;border-top:1px solid #eaeaea;border-color:#dddddd;margin-top:48px" />
          <img height="32" src="https://upload.wikimedia.org/wikipedia/th/4/41/Logo_PYU.png" style="display:block;outline:none;border:none;text-decoration:none;-webkit-filter:grayscale(100%);filter:grayscale(100%);margin:20px 0" width="32" />
          <p style="font-size:12px;line-height:24px;margin:16px 0;color:#8898aa;margin-left:4px">ระบบประเมินผลการทวนสอบผลสัมฤทธิ์มหาวิทยาลัยพายัพ</p>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
{% endautoescape %}