<!doctype html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} </title>
<!--<link rel="stylesheet" href="output1.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
{% block scripts %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endblock %} 
</head>

<body class="bg-gradient-to-b from-green-200 via-sky-200 to-green-200 ">

<div class="pt-6 mx-auto w-2/3 ">
    <div class=" flex justify-center item-center mt-44 rounded-lg bg-gray-700 mx-10 pl-5 pb-4 pt-5 h-96 ">
        <div class="  rounded-md pb-5 bg-white sm:max-w-full w-full ">
            <div class="flex  bg-white my-0 text-black bottom-5 shadow-inner text-xl border-2 ">
              <a href="\sign_in" class="text-gray-700 p-3 mr-3 hover:text-gray-900">< back </a> 
                </div>
    
      
                <form method="post">
                  {% csrf_token %}
                  <div class="p-5 border m-3 w-auto max-h-full h-full">
                    <h1 class="pl-2 font-semibold text-2xl">Reset Password</h1>
                    <div class="mb-6 text-red-400 font-semibold mb-1">*กรุณากรอก Email ของมหาวิทยาลัยพายัพ สำหรับนักศึกษา</div>
                    <label class="text-xl"> Email </label>
                    <div>
                      {{ form.email }}
                    </div>
                  </div>
                  <div class="flex justify-center items-center">
      
                  </div>
                


</div>
<div class="flex justifly-center items-center">
  <button type="submit" class="bg-yellow-500 hover:bg-yellow-600 text-xl px-4 p-2 w-auto rounded-full  text-white ml-4 mr-4">Confirm> </button>
</div>
</form>
</div>

</div>
</body>

</html>