
<!doctype html>
<html>
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} </title>
<!--<link rel="stylesheet" href="output1.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="fixed top-0 inset-x-0 mt-10 flex items-center justify-center">
        <div class="border rounded border-gray-300 p-16 text-xl bg-white">
            <h2 class="font-semibold text-green-700 text-xl mb-3">Password Reset Sent</h2>
            <p class="font-mono">We've emailed you instructions for setting your password.</p>
            <p class="font-mono">You should be receiving it shortly.</p>
        </div>
    </div>
</body>
</html>
