{% load i18n %}
{% autoescape off %}
{% blocktranslate %} เปลี่ยนรหัสผ่านระบบประเมินทวนสอบผลสัมฤทธิ์คณะบริหารธุรกิจมหาวิทยาลัยพายัพ{{ site_name }}.{% endblocktranslate %}

{% translate "👉 คลิ๊กที่นี้เพื่อทำการเปลี่ยนรหัสผ่าน 👈" %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{% translate "Reset my password" %}</a>

{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% blocktranslate %}ระบบประเมินผลการทวนสอบผลสัมฤทธิ์มหาวิทยาลัยพายัพ{% endblocktranslate %}
{% translate "The {{ site_name }} team" %}
{% endautoescape %}
