<!-- blog/templates/blog/sign-in.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h2>Login</h2>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <form method="post" action="{% url 'sign_in' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Login">
    </form>

</body>
</html>
