{% extends "evaluate/nav.html" %}
{% load static %}

<style>
  .popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .template_item,
  .template_item {
    padding: 5px 10px;
    cursor: pointer;
  }

  .template_item:hover,
  .template_item:hover {
    background-color: #f0f0f0;
  }

  
</style>

{% block title %} Create Form By {{user_now}}{% endblock %} 

<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>สร้างแบบประเมิน</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- link datetime pickle -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
</head>

{% block content %}
<!-- <div class="container"> -->
  <form method="post" id="main"> 



<div class="pt-6   mx-auto max-w-screen-2xl ">
  <div class=" rounded-lg bg-gray-800 mx-10 pl-5 pb-4 pt-5">
    <p class="flex items-center text-white text-2xl ml-5 px-4 py-4 ">สร้างแบบประเมินการทวนสอบผลสัมฤทธิ์   | Name : {{user_now}}</p>
    <div class="relative rounded-lg bg-gray-300 p-8 shadow-xl px-16 ">
      <div class="rounded-md pb-5 bg-white ">
        <div class=" bg-white my-0 text-black bottom-5 p-5 shadow-inner text-xl border-2 ">
          แบบประเมินการทวนสอบผลสัมฤทธิ์ของนักศึกษา(01)</div>

        <!-- เพิ่มหัวแรก -->
        {% csrf_token %}
        <div class="flex justify-between">
          <h1>สร้าง FORM and CLOs</h1>
          <button type="button" onclick="show_Dialog()"
            class="py-1 m-2 text-white text-center bg-blue-500 hover:bg-blue-600 items-center w-auto rounded-lg ">
            <h1 class="p-2 "><i class=" p-1 fa-solid fa-plus"></i>เพิ่มนักศึกษา</h1>
          </button>
        </div>
        <div id="dialog1"
          class="fixed opject-top bg-black bg-opacity-100  opacity-0 hidden transition-opacity duration-500 ml-52 md:ml-20">

          <!-- popup เพิ่มข้อมูล -->
          <div
            class="fixed w-1/3 h-auto mx-80 my-52  overflow-y-auto overflow-x-auto  top-1/2 left-1/2 z-50 justify-center items-center md:inset-0  max-h-full">
            <div class="relative bg-white rounded-lg shadow-xl dark:bg-gray-700 ">
              <div class="border shadow-xl">
                <button type="button" onclick="hide_dialog()"
                  class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
                <div class="flex py-3 pl-2 ">
                  <div class="justify-center text-center py-1 text-black text-xl font-medium px-2 ">
                    <h1>เพิ่มสิทธิ์นักศึกษา</h1>
                  </div>

                </div>
              </div>

              <div id="upload-csv-section">
                <h2>Upload CSV File</h2>
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" name="csv_file" id="csv_file" class="border border-gray-200 bg-gray-50" />
                  <!-- <button type="submit" name="import" id="import" class="border rounded-md p-1 bg-green-400 hover:bg-green-500 text-white ">Submit</button> -->

                </form>
                <div class="flex justify-center"id ="show_csv">
                  <table id="csv-table" class="border ">
                    <thead>
                      <tr>
                        <th class="p-2  text-l font-medium text-gray-500 uppercase tracking-wider">รหัส</th>
                        <th class="  text-l font-medium text-gray-500 uppercase tracking-wider">ชื่อ</th>
                        <th class="  text-l font-medium text-gray-500 uppercase tracking-wider">นามสกุล</th>
                        <th class="p-2  text-l font-medium text-gray-500 uppercase tracking-wider">Action</th>
                        <!-- และอื่น ๆ ตามต้องการ -->
                      </tr>
                    </thead>
                    <tbody id="data-csv" class="m-4 p-2 px-2 text-l font-mono text-gray-500 uppercase ">
                      <!-- ข้อมูลจาก CSV จะถูกแทรกที่นี่ -->
                    </tbody>
                  </table>
                </div>
              </div>



              <form>
              </form>
              <!-- end Import file popup-->

              <!-- button in popup -->
              <div class="p-2 flex justify-between bg-white ">
                <div></div>
                <div class="pr-1">
                  <button id="deleteAll"
                    class="bg-white  rounded px-4 py-2 mr-2 text-black cursor-pointer border hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-500 dark:hover:bg-gray-300 dark:focus:ring-gray-400 items-center w-20 "
                    onclick="hide_dialog()">
                    ยกเลิก
                  </button>
                  <button
                    class="bg-blue-700  rounded px-4 py-2 mr-1 text-white cursor-pointer  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-300 items-center w-20 "
                    onclick="">
                    ยืนยัน
                  </button>
                </div>
              </div>
              <!-- end button in popup -->
            </div>
          </div>
        </div>
        <!-- End popup เพิ่มข้อมูล ++++++++++++++++++++++++++++++++++++++++++++++++++
        <form method="post" id="main">-->
          <div class="p-4">
            {% csrf_token %} {{new_form.as_p }}
          </div>
          <!-- ป๊อปอัพ แม่แบบ-->
          <div id="popup" class="popup" style="display: none">
            <div class="popup-content">
              <span class="close" onclick="closePopup()">&times;</span>
              <div id="form_select_template">
                <label for="template_select">เลือกแม่แบบ:</label>
                <div id="template_list">
                  {% for item in template_data %}
                      {% if not item.parent %}
                          <div class="template_main_item">
                              <input type="checkbox" id="item_{{ item.id }}" name="template_choice" value="{{ item.id }}"
                                     {% comment %} onchange="checkboxHandle('item_{{ item.id }}', '{{ item.id }}', '{{ item.text }}', event, 'main')" {% endcomment %}
                                    data-is-sub="false" >
                              <label for="item_{{ item.id }}">&nbsp;&nbsp;{{ forloop.counter }} : {{ item.text }}</label>
                          </div>
                          {% for sub in item.sub_items.all %}
                              <div class="template_sub_item">
                                  <input type="checkbox" id="sub_{{ sub.id }}" name="template_choice" value="{{ sub.id }}"
                                         {% comment %} onchange="checkboxHandle('sub_{{ sub.id  }}', '{{ sub.id }}', '{{ sub.text }}', event, 'sub')" {% endcomment %}
                                        data-is-sub="true" data-parent-id="{{ item.id }}" >
                                  <label for="sub_{{ sub.id }}">: {{ sub.text }}</label>
                              </div>
                          {% endfor %}
                      {% endif %}
                  {% endfor %}

                </div>
              </div>
              <div id="template_details" style="display: none">
                <!-- Details will be shown here -->
              </div>
              
              <button onclick="confirmSelection()" type = "button">ยืนยัน</button>
            </div>
          </div>

          <div class="flex justify-center p-4">
            <textarea id="message" rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="คำชี้แจง"></textarea>
          </div>
            <div class="w-auto" id ="test_select">
              <div id = 'test1'></div>

            </div>
          <div class="">
            <div class="p-4 border">
              <div id="parent">
                <!-- div แม่ -->
                <!-- ฟิลด์แรกของแม่ -->
                <div id="main_field0" class="main_field0">
                  <!-- div ลูก -->
                  <input type="text" name="main_field0" placeholder="หัวข้อหลัก" required
                    class="border border-gray-400 bg-gray-50 h-8 w-1/3 rounded-lg p-2" ></input>
                  <!-- ปุ่มเพิ่มลูก -->
                  <button type="button" class="addSubField" onclick="addSubField(this)">

                    <div class="bg-blue-500 text-white rounded-lg w-auto p-1 flex justify-center">
                      + เพิ่มหัวข้อย่อย
                    </div>
                  </button>
                  <div class="subFields"></div>

                </div>
                <div class="flex justify-between">
                  <div></div>

                  <!-- ปุุ่มเพิ่มแม่ -->
                  <button type="button" class="add_main_Field" onclick="addMainField()">
                    <div class="bg-blue-500 text-white rounded-xl w-auto p-2 hover:bg-blue-600 flex justify-center">
                      + เพิ่มหัวข้อหลัก
                    </div>
                  </button>
                </div>
              </div>

            </div>
            <div class="p-1 text-lg">
              <h1>หัวข้อการประเมิน PLO</h1>
            </div>
            <button type="button" onclick="openPopup()"
                class="bg-blue-500 text-white rounded-lg w-auto p-1 flex justify-center hover:bg-blue-600 mt-1 ml-2 mb-2">เลือกแม่แบบ</button>
            <div id="Plo_div" class="Plo_div">
      
              <div class="Main_item"></div>
              <div class="subFields"></div>
            </div>

          </div>
          <div class="flex justify-between">
            <div></div>
            <button type="submit" name="action" value="create"
              class="mx-4 mt-8 bg-green-400 hover:bg-green-500 text-white text-lg rounded-lg w-auto py-2 px-4 flex justify-center">Create</button>
          </div>
      </div>

    </div>

  </div>
</div>
<!-- </div> -->
</form>


</div>

{% endblock %}

{% block scripts %}

<script src="{% static "Func_Create_form.js"%}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static "show_pop.js"%}"></script>

{% endblock %}