
<style>
  input[type="text"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  .head {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .form_name {
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .template_main_item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .template_sub_item {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #template_details {
    margin-top: 20px;
  }

  .user-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .user-row input {
    flex: 1;
    margin-right: 10px;
  }

  .btn-delete-user {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
  }

  .form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.popup-content h2 {
    margin-top: 0;
    font-size: 24px;
}

.popup-content .close {
    position: absolute;
    top: 10px;  
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.template_main_item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.template_sub_item {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#template_details {
  margin-top: 20px;
}
</style>
{% extends "evaluate/addon/nav.html" %}
{% load static %}



{% block content %}
<p class="flex items-center text-white text-2xl ml-5 px-4 py-4 ">แก้ไข {% for data in context.form%}
  {% if data.is_teacher_form %}
  แบบประเมินการทวนสอบผลสัมฤทธิ์ของอาจารย์ (02)
  {% else %}
  แบบประเมินการทวนสอบผลสัมฤทธิ์ของนักศีกษา (01)<br>
  </p>
  {% endif %}
  <div class="relative rounded-lg bg-gray-300 p-8 shadow-xl px-16 ">
    <div class="rounded-md pb-5 bg-white ">
      <div class="bg-white my-0 text-black bottom-5 p-5 shadow-inner text-xl border-2 ">
        แบบฟอร์มรายวิชา {{data.course.class_code}} {{data.course.name}} 
        {% endfor %}
      </div>

      <form method="post" id="editForm" data-form-id="{% for data in context.form %}{{data.id}} {% endfor %}">
        {% csrf_token %}
        <div class="container">
          <div class="form_name" name="form_name">
            <div class="border m-5 p-4 tracking-wider shadow-lg">
              <div class="flex justify-between">
                <div></div>
                <button type="button" onclick="togglePopup()" class="bg-blue-500 hover:bg-blue-700 mr-5 text-white p-4 rounded-lg">+ เพิ่มรายชื่อ</button>
              </div>
              {{ context.form_update.as_p }}
            </div>
          </div>
        </div>

        <div class="border shadow-lg p-4 m-5">
          <div class="container" id="PLO">
            หัวข้อประเด็นที่กำหนดเอง
            {% for item in context.assessment_items %}
            {% if not item.parent %}
            <div class="border bg-gray-100 shadow-lg p-4 m-2 my-2">
              <div class="container" id="parent-container_{{ item.id }}">
                <label>{{ forloop.counter }}</label>
                <input type="text" id="parent_{{ item.id }}" class="border boder-gray-700 w-2/3 h-8 mb-2" name="parent_{{ item.id }}" value="{{ item.text }}" readonly data-type="TemplateData" placeholder="กรุณาใส่หัวข้อประเด็นหลัก"/>
                <button type="button" class="bg-blue-500 hover:bg-blue-700 p-2 rounded-lg text-white" onclick="editField('parent_{{ item.id }}')">Edit</button>
                <button type="button" class="bg-red-500 hover:bg-red-700 p-2 rounded-lg text-white" onclick="deleteField('parent_{{ item.id }}', 'button_parent_{{ item.id }}')">ลบ</button>
                <!-- ลูก -->
                <div id="child-container_{{ item.id }}" style="margin-left: 20px;">
                  {% for child in item.sub_items.all %}
                  <div>
                    <label>{{ forloop.parentloop.counter }}.{{ forloop.counter }}</label>
                    <input type="text" id="clochild_{{ child.id }}" class="border boder-gray-700 w-2/3 h-8" name="child_{{ child.id }}" value="{{ child.text }}" readonly data-type="TemplateData" placeholder="กรุณาใส่หัวข้อประเด็นรอง"/>
                    <button type="button" class="bg-blue-500 hover:bg-blue-700 p-2 rounded-lg text-white mb-1" onclick="editField('clochild_{{ child.id }}')">Edit</button>
                    <button type="button" class="bg-red-500 hover:bg-red-700 p-2 rounded-lg text-white mb-1" onclick="deleteField('clochild_{{ child.id }}', 'button_clochild_{{ child.id }}')">ลบ</button>
                  </div>
                  {% endfor %}
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white p-3 rounded-lg mt-3" type="button" onclick="addField('{{ item.id }}', 'TemplateData', {{ item.form.id }})">เพิ่มหัวข้อย่อย</button>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% for data in context.form %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white p-3 rounded-lg mt-3" type="button" onclick="saveNewParent('Newparent', {{ data.id }})">เพิ่มหัวข้อหลัก</button>
            {% endfor %}

            <div class="border bg-gray-100 shadow-lg p-4 m-5">
              <p>หัวข้อประเด็นจากแม่แบบ (PLO)</p>
              <button type="button" onclick="openPopup()" class="bg-blue-500 text-white rounded-lg w-auto p-1 flex justify-center hover:bg-blue-600 mt-1 ml-2 mb-2">เลือกแม่แบบ</button>

              <div id="Plo_div" class="Plo_div">
                <div class="Main_item"></div>
                <div class="subFields"></div>
              </div>

              {% for item in context.selection_item %}
              {% if not item.parent %}
              <div class="container" id="parent-container_{{ item.id }}">
                <label>{{ forloop.counter }}</label>
                <input class="border boder-gray-700 w-2/3 h-8 mb-2" type="text" id="selectionparent_{{ item.id }}" name="selectionparent_{{ item.id }}" value="{{ item.template_select.text }}" readonly data-type="selectionTemplateData" placeholder="กรุณาใส่หัวข้อประเด็นหลัก"/>
                <!-- ลูก -->
                <div id="child-container_{{ item.id }}" style="margin-left: 20px;">
                  {% for child in item.sub_items.all %}
                  <div>
                    <label>{{ forloop.parentloop.counter }}.{{ forloop.counter }}</label>
                    <input class="border boder-gray-700 w-2/3 h-8" type="text" id="selectionclochild_{{ child.id }}" name="selectionchild_{{ child.id }}" value="{{ child.template_select.text }}" readonly data-type="selectionTemplateData" placeholder="กรุณาใส่หัวข้อประเด็นรอง"/>
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <!-- ป๊อปอัพ แม่แบบ -->
          <div id="popup-background" class="popup-background" onclick="closePopup()"></div>
          <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <div id="form_select_template" class="text-left">
                    <label for="template_select">เลือกแม่แบบ:</label>
                    <div id="template_list">
                        {% for item in context.template_data %}
                            {% if not item.parent %}
                                <div class="template_main_item">
                                    <input type="checkbox" id="item_{{ item.id }}" name="template_choice" value="{{ item.id }}" onchange="handleParentCheckbox('{{ item.id }}')" data-is-sub="false" >
                                    <label for="item_{{ item.id }}">&nbsp;&nbsp;{{ forloop.counter }} : {{ item.text }}</label>
                                </div>
                                {% for sub in item.sub_items.all %}
                                    <div class="template_sub_item">
                                        <input type="checkbox" id="sub_{{ sub.id }}" name="template_choice" value="{{ sub.id }}" onchange="checkHandle('sub_{{ sub.id }}', '{{ item.id }}')" data-is-sub="true" data-parent-id="{{ item.id }}" >
                                        <label for="sub_{{ sub.id }}">: {{ sub.text }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% for data in context.form %}
                    <button onclick="confirmSelection({{ data.id }})" type="button" class="text-white rounded-full bg-green-500 hover:bg-green-700 p-3 px-8 mt-3">ยืนยัน</button>
                {% endfor %}
            </div>
        </div>
          <!-- end popup แบบ -->
        </div>
        <div class="newParent" id="newParent"></div>
        <div class="flex justify-between">
          <div></div>
          <button type="submit" class="text-white rounded-lg bg-green-500 hover:bg-green-700 p-4 mr-8">Save Changes</button>
        </div>
      </form>

      <div class="container" id="aut_user">
        <div class="popup" id="popup1" style="display:none;">
          <div class="flex justify-center h-auto">
            <div class="popup-content">
              <span class="close" onclick="togglePopup()">&times;</span>
              {% if not context.aut_user %}
              <div class="input-container" id="input-container">
                <div class="user-row">
                  {% for data in context.form %}
                  <button type="button" onclick="add_user({{ data.id }})" class="bg-blue-500 hover:bg-blue-700 p-3 rounded text-white">เพิ่มรายชื่อ</button>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% for user in context.aut_user %}
              {% if forloop.first %}
              <button type="button" onclick="add_user({{ user.form.id }})" class="bg-blue-500 hover:bg-blue-700 p-3 rounded text-white">เพิ่มรายชื่อ</button>
              {% endif %}
              <div class="input-container" id="input-container">
                <div class="user-row">
                  <input type="text" id="user_{{ user.id }}" name="user_{{ user.id }}" value="{{ user.users.username }}" readonly data-type="user" />
                  <button type="button" class="btn-delete-user" onclick='delete_user({{ user.id }})'>ลบ</button>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  {% block scripts %}
  <script>
    function checkHandle(checkboxId, parentId) {
      var checkbox = document.getElementById(checkboxId);
      var parentCheckbox = document.getElementById('item_' + parentId);
      if (checkbox.checked) {
        parentCheckbox.checked = true;
      } else {
        var allSiblingsChecked = document.querySelectorAll(`input[data-parent-id="${parentId}"]:checked`).length > 0;
        if (!allSiblingsChecked) {
          parentCheckbox.checked = false;
        }
      }
    }

    function handleParentCheckbox(parentId) {
      var parentCheckbox = document.getElementById('item_' + parentId);
      var childCheckboxes = document.querySelectorAll(`input[data-parent-id="${parentId}"]`);
      childCheckboxes.forEach(function(checkbox) {
        checkbox.checked = parentCheckbox.checked;
      });
    }

    function deleteField(fieldId, buttonclass) {
      var input = document.getElementById(fieldId);
      var dataType = input.getAttribute('data-type');
      var buttons = document.querySelectorAll('.' + buttonclass);
      var xhr = new XMLHttpRequest();
      xhr.open('DELETE', '/API_updates_delete_form/?data_id=' + encodeURIComponent(fieldId.split('_')[1]) + '&type=' + encodeURIComponent(dataType), true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
      xhr.onload = function() {
        if (xhr.status === 200) {
          location.reload();
        } else {
          console.error('Error:', xhr.statusText);
        }
      };
      xhr.send();
      var parts = fieldId.split('_');
      input.remove();
      if (parts[0] == "parent") {
        reloadPageAfterDelay(200)
      }
      buttons.forEach(function(button) {
        button.remove();
      });
    }

    function editField(fieldId) {
      var input = document.getElementById(fieldId);
      input.removeAttribute('readonly');
      input.focus();
      input.onblur = function() {
        var value = input.value;
        var dataType = input.getAttribute('data-type');
        input.setAttribute('readonly', true);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/API_updates_delete_form/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
        xhr.onload = function() {
          if (xhr.status === 200) {
            console.log('Response:', xhr.responseText);
          } else {
            console.error('Error:', xhr.statusText);
          }
        };
        xhr.send('data_id=' + encodeURIComponent(fieldId.split('_')[1]) + '&text=' + encodeURIComponent(value) + '&type=' + encodeURIComponent(dataType));
      };
    }

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function saveNewParent(type, formID) {
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/addnew_form_data/', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
      xhr.onload = function() {
        if (xhr.status === 200) {
          location.reload();
        } else {
          console.error('Error:', xhr.statusText);
        }
      };
      xhr.send('&form_id=' + encodeURIComponent(formID) + '&type=' + encodeURIComponent(type));
    }

    function addField(parentId, dataType, tem_id) {
      const containerId = parentId ? `child-container_${parentId}` : 'PLO';
      const container = document.getElementById(containerId);
      const newFieldId = new Date().getTime();
      const div = document.createElement('div');
      div.innerHTML = `
        <input type="text" id="child_parentID_${parentId}" name="child_parentID_${parentId}" value=""  data-type="${dataType}" required>
        <button type="button" onclick="editField('new_${parentId}')">Edit</button>
      `;
      container.appendChild(div);
      const input = div.querySelector('input');
      input.setAttribute('placeholder', "กรุณาใส่หัวข้อประเด็นรอง")
      input.onblur = function() {
        input.setAttribute('readonly', true);
        saveFieldData(input.id, input.value, dataType, tem_id);
      };
    }

    function saveFieldData(fieldId, value, dataType, tem_id) {
      fetch('/addnew_form_data/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
          },
          body: `data_id=${encodeURIComponent(fieldId)}&text=${encodeURIComponent(value)}&type=${encodeURIComponent(dataType)}&form_id=${encodeURIComponent(tem_id)}`
        })
        .then(response => response.json())
        .then(data => location.reload())
        .catch(error => console.error('Error:', error));
    }

    function reloadPageAfterDelay(delayInMilliseconds) {
      setTimeout(function() {
        location.reload();
      }, delayInMilliseconds);
    }

    document.addEventListener('DOMContentLoaded', function() {
      const formElement = document.getElementById('editForm');
      const formFields = formElement.querySelectorAll('input, select, textarea');

      const saveFormData = () => {
        const formData = new FormData(formElement);
        const data = Object.fromEntries(formData.entries());
        localStorage.setItem('formData', JSON.stringify(data));
      };

      const loadFormData = () => {
        const savedData = JSON.parse(localStorage.getItem('formData'));
        if (savedData) {
          Object.keys(savedData).forEach(key => {
            const field = formElement.querySelector(`[name="${key}"]`);
            if (field) {
              field.value = savedData[key];
            }
          });
        }
      };

      formFields.forEach(field => {
        field.addEventListener('input', saveFormData);
      });

      loadFormData();
    });

    function openPopup() {
      document.getElementById("popup").style.display = "block";
      document.getElementById("popup-background").style.display = "block";
    }

    function closePopup() {
      document.getElementById("popup").style.display = "none";
      document.getElementById("popup-background").style.display = "none";
    }

    function confirmSelection(formId) {
      var checkedBoxes = document.querySelectorAll('input[name="template_choice"]:checked');
      if (checkedBoxes.length > 0) {
        var selectedItems = [];
        checkedBoxes.forEach(function(checkbox) {
          selectedItems.push({
            template_select_id: checkbox.value,
            text: checkbox.nextElementSibling.textContent.trim(),
            isSub: checkbox.getAttribute('data-is-sub') === 'true',
            parentId: checkbox.getAttribute('data-parent-id')
          });
        });
        fetch('/save-new-items/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify({
              form_id: formId,
              items: selectedItems
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              location.reload();
              closePopup();
            } else {
              console.error('Failed to save new items:', data.error);
            }
          })
          .catch(error => console.error('Error:', error));
      } else {
        alert("โปรดเลือกข้อมูล");
      }
    }
  </script>
  <script src="{% static 'edit_form.js' %}"></script>
  {% endblock %}
{% endblock %}
