<style>
    #butlink {
        background-color: #4CAF50; 
        border: none;
        color: white; 
        padding: 15px 32px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px; 
    }
    #butlink:hover {
        background-color: #45a049; 
    }
</style>

<form method="POST" >
    {% csrf_token %}
    {% for form_instance in forms %}
    <p>Created_by:{{ form_instance.created_by }}<br>Form ID: {{ form_instance.id }}<br>Form Name: {{ form_instance.name }}<br>class_code: {{ form_instance.class_code }}
        <a href="{% url 'view_form' form_id=form_instance.id %}">View Form</a></p>
    {% endfor %}

    <a id='butlink' href="http://127.0.0.1:8000/evaluate/create_form">Go to Create Form</a>
</form>
