
<style>
    #progress-bar-container {
        width: 100%;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }

    #progress-bar {
        height: 30px;
        background-color: #4caf50;
        width: 0; \
        border-radius: 5px;
    }

    h2 {
        margin-bottom: 5px;
    }
</style>

{% block title %}
Main_Form_NAJA! Form ID: {{ form_istance.id }}
{% endblock %}n

<p>Main Form ID: {{ form_instance.name }}</p>

<!-- เข้าถึง clo_form โดยตรง -->
{% for i in clo_form %}
    <p>{{ forloop.counter }}_CLO : {{ i.text }}</p>
{% endfor %}

<body>
    <h2>Upload CSV File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" id="csv_file">
        <button type="submit" name="import" id="import">Submit</button>
    </form>
    <div id="progress-bar-container">
        <h2>Progress</h2>
        <div id="progress-bar" style="width: 2.5;"></div>
    </div>
</body>

<script>
    /*
    document.getElementById('import').onclick = function() {
        setInterval(function() {
            fetch('/items/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    progress: 50,  // ตัวอย่างข้อมูลที่คุณอาจต้องการส่งไปยัง API
                    num: 100       // ตัวอย่างข้อมูลที่คุณอาจต้องการส่งไปยัง API
                })
            })
            .then(response => response.json())
            .then(data => {
                // ดำเนินการอัปเดตข้อมูลหน้าเว็บของคุณด้วยข้อมูลที่คืนมาจาก API
                console.log(data); // ตัวอย่างการแสดงค่าข้อมูลที่คืนมาในคอนโซล
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
        }, 1000); // ร้อยละ 1วิ
    };
    
    
    document.getElementById('import').onclick = function() {
        setInterval(function() {
            fetch('/progress_api/')
            .then(response => response.json())
            .then(data => {
                updateProgressBar(data.progress_percent);
                console.log(data.progress_percent);
            });
        }, 1000); //1วิ
    };
    
    
    function updateProgressBar(progress) {
        const progressBar = document.getElementById('progress-bar');
        progressBar.style.width = `${progress}%`;
    }
*/
</script>