


<!doctype html>
<style>
  .disabled-input {
      pointer-events: none;
      opacity: 0.6;
  }
</style>
<html>
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!--<link rel="stylesheet" href="output1.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styl_editeForm.css' %}">
  {% block scripts %}
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <script src="{% static 'Func_Create_form.js' %}"></script> -->
  <!-- <script src="{% static 'edit_form.js' %}"></script> -->
  <!-- <script src="{% static 'show_pop.js' %}"></script> -->
  <!-- <script src="{% static 'func_detailForm.js' %}"></script> -->
  <!-- <script src="{% static "func_editForm.js"%}"></script> -->
  {% endblock %} 
</head>

<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen max-h-screen">
  <header>
    <div class="container-2xl mx-auto mb-16">
      <nav class="fixed top-0 transition-all duration-300 ease-in-out w-full z-10 bg-blue-400 border-gray-700 shadow-md ">
        <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">

          <!-- start user icon -->
          <div>
            <div class="flex">
              <img id="avatarButton" type="button" data-dropdown-toggle="userDropdown"
                data-dropdown-placement="bottom-start"
                class="w-10 h-10 p-1 rounded-full ring-2 ring-green-300 cursor-pointer hover:bg-current"
                src="{% static 'phyap.jpg' %}" alt="userDropdown">
              <!-- <img class="w-10 h-10 p-1 rounded-full ring-2 ring-green-300 dark:ring-green-500" src="pic\pngtree-cute-pet-dog-corgi-png-image_3931359.jpg" alt="Bordered avatar"> -->
              <span class="pl-4 self-center text-2xl font-semibold whitespace-nowrap text-white">Payap
                university</span>
            </div>
            <!-- user dropdownNavbar -->
            <div id="userDropdown"
              class="absolute z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-64  ">
              <div class="px-4 py-3 text-sm text-gray-700 dark:text-white">
                <p> {{ request.user.first_name }}  {{request.user.last_name}}</p>
                <div class="font-medium truncate">{{request.user.email}}</div>
              </div>
              <ul class="py-2 text-sm text-gray-700 " aria-labelledby="avatarButton">
                <li>
                  <h 
                    class="block px-4 py-2 hover:bg-gray-100  ">Line Token</h>

                    <form method="post">
                      {% csrf_token %}
                      <div ondblclick="enableInput('line-token-input')">
                        <input id="line-token-input" class="disabled-input broder border-indigo-600 p-2 rounded w-full" placeholder="กรุณากรอก Line Token" value="{{ user.userprofile.line_token }}" disabled onblur="updateLineToken({{ user.id }})">
                    </div>
                  </form>
                  
                </li>
                <li>
                  <a href="/password_reset/"
                    class="block px-4 py-2 hover:bg-gray-100 ">Change password</a>
                </li>
                <!-- <li>
          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
        </li> -->
              </ul>
              <div class="py-1">
                <a href="/logout"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">Sign
                  out</a>
              </div>
            </div>
          </div>
          <!-- end user icon -->




          <button id="navbar-toggle" data-collapse-toggle="navbar-dropdown" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center bg-gray-700 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul
              class="flex flex-col font-medium p-4 md:p-0 mt-4 border text-white rounded-lg bg-blue-400 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-blue-400 ">
              <li>
                <a href="/evaluate"
                  class="text-xl block py-2 pl-3 pr-4 text-blue-700 rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 "
                  aria-current="page">Home</a>
              </li>
              {% for group in request.user.groups.all %}
              {% if forloop.first %}
              {% if group.name == "อาจารย์" or group.name == "นักศึกษา" or group.name == "กรรมการ" or group.name == "หัวหน้าสาขา"%}
              {% if group.name == "อาจารย์"%}
              <li>
                <a href="/form/form_detail "
                  class="text-xl block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 ">แบบประเมิน</a>
              </li>
              {% endif%}
              <!-- <li>
        <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
      </li> -->
      {% if group.name == "หัวหน้าสาขา"%}
              <li>
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                  class="text-xl flex items-center justify-between w-full py-2 pl-3 pr-4 text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 md:w-auto ">จัดการข้อมูล
                  <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg></button>

                <!-- Dropdown menu -->
                <div id="dropdownNavbar"
                  class="absolute z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                  <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownLargeButton">
                    <li>
                      <a href="{% url 'manage_member' %}"
                        class="block px-4 py-2 hover:bg-gray-100 ">อาจารย์</a>
                    </li>
                    {% comment %} <li>
                      <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 ">นักศึกษา</a>
                    </li> {% endcomment %}
                    <li>
                      <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 ">วิชา</a>
                    </li>
                  </ul>
                  <!-- <div class="py-1">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Sign out</a>
            </div> -->
                </div>
              </li>
              {% endif%}
              {% if group.name == "อาจารย์" or group.name == "กรรมการ"%}
              <li>
                <a href="#"
                  class="text-xl block py-2 pl-3 pr-4 text-white rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 ">รายงานการประเมิน</a>
              </li>
              {%endif%}
              {% endif%}
              {% endif%}
              {% endfor%}
            </ul>

          </div>

        </div>
      </nav>
      <!--End nav-->
  </header>

  <div class="pt-6 mx-auto max-w-screen-2xl ">
    <div class=" rounded-lg bg-gray-800 mx-10 pl-5 pb-4 pt-5 ">
      
  {% block content %}
  {% endblock %}
</div>
</div>
<script src="{% static 'popup.js' %}"></script>
<script src="{% static 'scripBar.js' %}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
      const formButton = document.getElementById('formButton');
      const dropdownForm = document.getElementById('dropdownForm');
    
      formButton.addEventListener('click', function(event) {
          event.stopPropagation();
          dropdownForm.classList.toggle('hidden');
      });
    
      // ซ่อน dropdown เมื่อคลิกที่อื่นในหน้าจอ
      window.addEventListener('click', function(event) {
          if (!event.target.matches('#formButton') && !event.target.closest('#dropdownForm')) {
              if (!dropdownForm.classList.contains('hidden')) {
                dropdownForm.classList.add('hidden');
              }
          }
      });
    });

//จัดการไลน์
    function enableInput(inputId) {
      const input = document.getElementById(inputId);
      input.classList.remove('disabled-input');
      input.disabled = false;
      input.focus();
  }

  function updateLineToken(userId) {
      const lineTokenInput = document.getElementById('line-token-input');
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      fetch('/api/update_line_token/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({
              user_id: userId,
              line_token: lineTokenInput.value
          })
      })
      .then(response => response.json())
      .then(data => {
          if (data.status === 'success') {
              console.log('Line Token updated successfully');
          } else {
              console.error('Error updating Line Token:', data.error);
          }
      })
      .catch(error => {
          console.error('Error:', error);
      });
  }
  </script>
</body>

</html>

